#div1 {
  width: 50%;
  height: 50%;
  float: left;
}
#div2 {
  width: 50%;
  height: 50%;
  float: left;
}
#div3 {
  width: 50%;
  height: 50%;
  float: left;
}
#div4 {
  width: 50%;
  height: 50%;
  float: left;
}
/* #menu {
  position: fixed;
  top: 0;
  background: blue;
  height: 50px;
  width: 100%;
} */
.content {
  width: 100%;
  position: relative;
}
