.form-heading {
  color: #fff;
  font-size: 23px;
}
.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 8px 0;
}
.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 40%;
  padding: 50px 70px 70px 71px;
  border: 2px solid black;
}

.login-form .form-group {
  margin-bottom: 10px;
}
.login-form {
  text-align: center;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.forgot {
  text-align: left;
  margin-bottom: 30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.back {
  text-align: left;
  margin-top: 10px;
}
.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.customer-form {
  float: left;
  width: 50%;
}

.restaurant-form {
  float: right;
  width: 50%;
}

.login-comp {
  display: flex;
  flex-direction: row;
}

.review-form {
  height: 70px;
  width: 200px;
}

div[disabled] {
  pointer-events: none;
  opacity: 0;
}

.profile-photo {
  height: 150px;
  width: 130px;
}
.dish-image {
  height: 150px;
  width: 150px;
}
.logo {
  height: 60px;
  width: 80px;
}

.pad {
  margin: 1.5px;
}

.header_menu {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.links {
  width: 60%;
  float: left;
  text-align: left;
}
.social_media {
  width: 40%;
  float: left;
  text-align: right;
  position: relative;
}
.clearfix {
  clear: both;
}

.eventtable {
  width: 50px;
}

.form-adjust {
  width: 500px;
}

.Dropdown-root {
  width: 80%;
}

@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  align-content: center;
}

.login-card {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #0e2396;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #d4d4d4;
  color: black;
  border: 0 !important;
}

.company-icon span {
  width: 50px;
  height: 70px;
  background-color: #d4d4d4;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: rgb(255, 249, 249);
  background-color: #2ba503;
  width: 160px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.post-jobs {
  text-align: center;
  font-size: 140%;
}

.acc {
  font-size: 130%;
}

.building-icon {
  width: 150px;
  height: 80px;
  padding-right: 50px;
}

.count-block {
  width: 100px;
}
